*.*#
*.Debug
*.Release
*.a
*.app
*.autosave
*.core
*.debug
*.dll
*.exe
*.flc
*.log
*.moc
*.o
*.obj
*.orig
*.prl
*.pro.user*
*.qm
*.rc
*.rej
*.res
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*~
.#*
.*.swp
.DS_Store
.directory
/**/.git*
/**/build*
/**/cmake-build*
/**/core*
/.qmake.cache
/.qmake.stash
Makefile*
Thumbs.db
moc_*.cpp
qrc_*.cpp
tags
ui_*.h